<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Aeropuerto Sauce Viejo </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/Style.css">
</head>

<body>
	<div class="row containerfluid">
		<div class="col-4">

		</div>

		<div class="col-4">
			<h1>Registro de Vuelo</h1>
		</div>

		<div class="col-4">

		</div>

	</div>

	<div class="row ccontainerfluid">
		<div class="col-3">

		</div>

		<div class="col-6">
			<form th:action="@{/registroVuelo}" th:object="${formBean}" method="post">

				<div class="row containerfluid">
					<div class="col-3">

					</div>
					<div class="col-6">
						<label>Número de Vuelo:</label>
						<input type="text" th:field="*{nVuelo}"/> 
						<p th:text="${existe}"></p>
					</div>
					<div class="col-3">
						<br>
                        <input type="submit" class="btn" name="action" value="verificar"></input>
					</div>

				</div>
				<br>
				<div class="row containerfluid">
					<div class="col-6">
						<label>Fecha:</label>
						<input type="date" th:field="*{fecha}" />
					</div>
					<div class="col-6">
						<label>Hora:</label>
						<input type="time" th:field="*{hora}" />
					</div>
				</div>
				<br>

				<div class="row containerfluid">

					<div class="col-6">
						<label>Origen:</label>
						<select class="form-select form-select-lg mb-3" aria-label="Large select example"
							th:field="*{origen}">
							<option value="" disabled selected>Elige una Ciudad</option>
							<option th:each="ciudad : ${ciudadOrigen}" th:value="${ciudad.id}"
								th:text="${ciudad.nombre}">
							</option>
						</select>
					</div>

					<div class="col-6">
						<label>Destino:</label>
						<select class="form-select form-select-lg mb-3" aria-label="Large select example"
							th:field="*{destino}">
							<option value="" disabled selected>Elige una Ciudad</option>
							<option th:each="ciudad : ${ciudadDetino}" th:value="${ciudad.id}"
								th:text="${ciudad.nombre}">
							</option>
						</select>
					</div>
				</div>

				<div class="row containerfluid">
					<div class="col-3">
						<input type="submit" class="btn" name="action" value="vueloTipo"></input>
					</div>
				<div class="col-9">
					<h3 th:text="${tipoVuelo}"></h3>
				</div>
            
				</div>


				<div class="row containerfluid">
					<label>Avion:</label>
					<div class="col-12">
						<select class="form-select form-select-lg mb-3" aria-label="Large select example"
							th:field="*{avionAsignado}">
							<option value="" disabled selected>Elige un Avion</option>
							<option th:each="avion : ${aviones}" th:value="${avion.id}" th:text="${avion.nombre}">
							</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row containerfluid">
					<div class="col-2">
						<h6 th:text="${moneda}"></h6>
					</div>
					<div class="col-10">
						<input type="text" th:field="*{precio}"></input>
					</div>
				</div>
				<div class="row containerfluid">
					<div class="col-4">

					</div>
					<div class="col-4">
						<input type="submit" class="btn btn-primary" name="action" value="guardar"></input>
					</div>
					<div class="col-4">
						<input type="submit" class="btn btn-secondary" name="action" value="volver"></input>
					</div>
				</div>

			</form>

		</div>	
		
		<div class="col-3">

		</div>

	</div>

</body>

</html>