<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Aeropuerto Sauce Viejo </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="body-wrapper">
	<div class="app-container">
		<div class="fly-form">
			<form th:action="@{/registroVuelo}" th:object="${formBean}" method="post">
				<div class="input-data" style="align-content: flex-start;">
					<label class="label-important-bold">Número de Vuelo:</label>
					<input class="bd" type="text" th:field="*{nVuelo}" />
					<input type="submit" class="btn btn-alter btn-lg" name="action" value="verificar"></input>
				</div>
				<div class="input-data">
					<div class="options-container">
						<label class="label-important-bold">Origen:</label>
						<select class="form-select form-select-lg mb-3" aria-label="Large select example"
							th:field="*{origen}">
							<option value="" selected>Elige una Ciudad</option>
							<option th:each="ciudad : ${ciudadOrigen}" th:value="${ciudad.id}"
								th:text="${ciudad.nombre}">
							</option>
						</select>
					</div>
					<div class="options-container">
						<label class="label-important-bold">Destino:</label>
						<select class="form-select form-select-lg mb-3" aria-label="Large select example"
							th:field="*{destino}">
							<option value="" selected>Elige una Ciudad</option>
							<option th:each="ciudad : ${ciudadDetino}" th:value="${ciudad.id}"
								th:text="${ciudad.nombre}">
							</option>
						</select>
					</div>
					<p class="colorMensaje" th:text="${mismaCiudad}"></p>

					<input type="submit" class="btn btn-alter btn-lg" name="action" value="VueloTipo"></input>


				</div>
				<h3 class="label-important-bold" th:if="${tipoVuelo != null}" th:text="${' ' + tipoVuelo}"></h3>

				<div class="fly-specs">
					<div class="options-container">
						<label class="label-important-bold">Avion:</label>
						<select class="form-select form-select-lg mb-3" aria-label="Large select example"
							th:field="*{avionAsignado}">
							<option value="" selected>Elige un Avion</option>
							<option th:each="avion : ${aviones}" th:value="${avion.id}" th:text="${avion.nombre}">
							</option>
						</select>
						<p class="colorMensaje" th:text="${avionInhabilitado}"></p>

						<br>
					</div>
					<div class="options-container">
						<label class="label-important-bold">Fecha:</label>
						<input type="date" th:field="*{fecha}" />

						<label class="label-important-bold">Hora:</label>
						<input type="time" th:field="*{hora}" />
					</div>
				</div>
				<br>
				<h6 th:text="${moneda}"></h6>

				<input type="text" th:field="*{precio}"></input>

				<p class="colorMensaje" th:text="${numeroInvalido}"></p>

				<br>




				<input type="submit" class="btn btn-primary btn-lg" name="action" value="Guardar"></input>

				<input type="submit" class="btn btn-secondary btn-lg" name="action" value="Volver"></input>

			</form>
		</div>
	</div>
</body>

</html>